<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Diego" />
    <meta name="keywords" content="HTML, CSS, Astro" />
    <title>AI! que arte! - Acerca de...</title>
    <style>
      <!-- Por ahora dejaremos en blanco esta sección -->
    </style>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <!-- Aquí irá el logo -->
        <a href="/home">
          <img src="/logo.png"/>
        </a>
      </div>
      <div id="menu">
        <!-- Aquí irá el listado de opciones -->
        <ul>
          <li>
            <a href="/about">Acerca de</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div> <!-- header -->
    <!-- ======= Bloque de página ======= -->
    <div class="main">
      <h1>Acerca de...</h1>
      <p>
      Esta página está creada por Diego Gómez como ejemplo
      del trabajo que hay que ir haciendo poco a poco en nuestra
      web.
      </p>
    </div>
    <!-- ======== Pie de página ========= -->
    <div class="foot">
      <p>Proyecto para la asignatura de Tecnologías de la Información I de Escuela IDEO</p>
      <p>Autor de la página: Diego G</p>
      
      <div class="links">
        <ul>
          <li>
            <a href="/about">Acerca de</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>